params {
    input_csv = "${baseDir}/input/data.csv"
    preprocess_script = "${baseDir}/scripts/preprocess_data.py"
    split_script = "${baseDir}/scripts/split_dataset.py"
    rf_script = "${baseDir}/scripts/random_forest_prediction.py"
    visualize_script = "${baseDir}/scripts/visualize_confusion_matrix.py"
    output_dir = "${baseDir}/output"
    seed = 42
}

/*
 * resrouces 
 */
process {
    withName: 'preprocessData' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withName: 'splitDataset' {
        cpus = 2
        memory = '2 GB'
        time = '30m'
    }

    withName: 'randomForestPrediction' {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }

    withName: 'visualizeConfusionMatrix' {
        cpus = 2
        memory = '2 GB'
        time = '30m'
    }
}

/*
 * docker Profile
 */
profiles {
    docker {
        process.container = 'selinasun01/phaseprediction:latest'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)' // Runs container as current user
    }
}

/*
 * Executor Configuration
 */
executor {
    name = 'local' //
    queueSize = 100 //
}
